/* Your CSS here. */
li {
    list-style-type: none;
}

img {
    height: 150px;
    weight: 150px;
    margin: auto;
}

.container{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: brown;
}

